body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("img/bg.jpg");
    position: absolute;
    background-repeat: no-repeat;
    font-style: italic;  
    background-size: cover;
    color: white;
}

.title {
    text-align: center;
    position: fixed;
    top: 38%;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%, -50%);
}

.description {
    text-align: center;
    position: fixed;
    top: 45%;
    left: 51%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
}

.loadbar {
    width: 35%;
    /* background-color: gray; */
    height: 40px;
    position: fixed;
    top: 90%;
    border-radius: 5px;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%, -50%);
}


progress[value] {
	width: 35%;
	height: 40px;
	-webkit-appearance: none;
}
progress[value]::-webkit-progress-bar {
	background-color: rgba(51, 51, 51, 0.459);
	border-radius: 5px;
}
progress[value]::-webkit-progress-value {
    transition: width 0.5s;
}
progress::-webkit-progress-value {
	background: #00b7ff;
	border-radius: 0.5rem;
}


/* If Discord,website logo is enabled, this is important, else its not */

.discord {
    color: white;
    text-decoration: none;
    
    position: fixed;
    top: 8px;
    left: 8px;
    font-size: 1.5rem;

    width: 70px;
    height: 70px;
}

.website {
    color: white;
    text-decoration: none;
    
    position: fixed;
    top: 105px;
    left: 8px;
    font-size: 1.5rem;

    width: 70px;
    height: 70px;
}

.logo {
    color: white;
    text-decoration: none;
    
    position: fixed;
    top: 8px;
    right: 8px;
    font-size: 1.5rem;

    width: 70px;
    height: 70px;
}



.LoadingDots {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    min-width: 36px
}

.LoadingDots .dot {
    width: 4px;
    height: 4px;
    margin: 0 0px
}

.LoadingDots .dot {
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1s infinite ease-in-out both;
    animation: sk-bouncedelay 1s infinite ease-in-out both
}

.LoadingDots.regular {
    margin: 16px auto
}

.LoadingDots.small {
    min-width: 30px
}

.LoadingDots.small .dot {
    width: 6px;
    height: 6px;
    margin: 0 2px
}

.LoadingDots.tiny {
    min-width: 18px
}

.LoadingDots.tiny .dot {
    width: 4px;
    height: 4px;
    margin: 0 1px
}

.LoadingDots .first {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s
}

.LoadingDots .second {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s
}

@-webkit-keyframes sk-bouncedelay {
    0%,80%,100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1)
    }
}

@keyframes sk-bouncedelay {
    0%,80%,100% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}


button {
     padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;

}

/* button img {
    margin-top: 100px;
} */




#toast-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}

.toast {
    background-color: #ffffff; /* White background */
    color: #333; /* Dark text color */
    padding: 20px;
    margin-top: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.toast-header {
    font-weight: bold;
    margin-right: 5px;
}

.toast.hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.toast-message {
    flex-grow: 1;
}
#toast-container i{color:red;}
.close-btn {
    cursor: pointer;
    padding: 0 5px;
    border: none;
    background: none;
    font-size: 16px;
}
